table {
  width: 100%;
}

.spinner {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-flex-container {
  display: flex;
  justify-content: space-around;
}

.example-button-container {
  display: flex;
  justify-content: center;
}
