<h1 mat-dialog-title>{{ data.name }}</h1>
<div mat-dialog-content>
  <mat-card>
    <p>Project risk: {{ data.risk }}</p>
    <p>Project value: {{ data.value }}</p>
  </mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Value Investiment</mat-label>
    <input matInput [(ngModel)]="value" />
  </mat-form-field>
  <p>Return Value: {{ return_value }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onCalc()">Calc</button>
  <button mat-button color="accent" (click)="onNoClick()">Close</button>
</div>
